
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    font-family: "Arimo",sans-serif;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;

}

table td{
    border: 1px solid #ccc;
    padding: 10px 20px;
}

table td:first-child{
    font-weight: 900;
}

form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px ;
}

.select-div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}